section {
  width: 290px;
  padding: 10px;
  text-align: center;
  //border-radius: 5px;
  border-radius: 0;


  border: 1px solid #eaeaea;
  box-shadow: 0 0 5px 0rgba(0,0,0,.4);
  max-height: 500px;


}

.navigate {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 20px auto 20px;

  .title {
    font-size: 17px;
  }

  button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

  button[prev],button[next] {
    font-size: 22px;
    font-weight: 300;
    line-height: 16px;
  }

  button[next]::after {
    content: "\003E";
  }

  button[prev]::after {
    content: "\003C";
  }

}

.body-calendar {
  width: 100%;

  ol {
    grid-template-columns: repeat(7, 1fr);

    li {
      font-size: 12px;
      font-weight: 500;
      height: 30px;
      line-height: 30px;
      width: 30px;
    }
  }
}

.body-month {
  ol {
    grid-template-columns: repeat(4, 1fr);

    li {
      text-align: center;
      font-weight: normal;
      height: 45px;
      line-height: 45px;
      width: 45px;
    }
  }
}

ol {
  list-style: none;
  display: grid;
  gap: 10px 4px;
  padding: 0;

  li {
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #eaeaea;
    }

    &.active {
      background: #b7e0ff;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #333;
    }
  }

}

.day-name {
  font-weight: bold;
  text-align: center;
  cursor: unset;
}

.first-day {
  &-1 {
    grid-column-start: 1;
  }

  &-2 {
    grid-column-start: 2;
  }

  &-3 {
    grid-column-start: 3;
  }

  &-4 {
    grid-column-start: 4;
  }

  &-5 {
    grid-column-start: 5;
  }

  &-6 {
    grid-column-start: 6;
  }

  &-0 {
    grid-column-start: 7;
  }
}


