<a href="/">anterior</a> &nbsp;
<a href="/drag-and-drop/horizontal">siguiente</a>
<br/>
<h1>Componente Drag & Drop - Angular CDK</h1>
<h2>Rápido, Fácil y Divertido</h2>
<div>
    <div>
        <div class="example-box posicionInicialNota" cdkDrag>
            <span>
                <h3>Nota Flotante:</h3>
                <p>Cada pagina es un ejercicio, utilice los botones de anterior y siguiennte para avanzar de pagina </p>

            </span>
        </div>
    </div>
    <div class="example-boundary">
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
            <img src="assets/rmp4.png" alt="" class="img-rmp">

        </div>
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
            <img src="assets/rmp2.png" alt="" class="img-rmp">

        </div>
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
            <img src="assets/rmp3.png" alt="" class="img-rmp">

        </div>
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
            <img src="assets/rmp1.png" alt="" class="img-rmp">

        </div>
    </div>


</div>
