<div class="container">
  <h2>Table</h2>

  <div class="row">
    <div class="col dt-responsive example-container">
      <table class="dt-pichincha-table" cdk-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container cdkColumnDef="id" [sticky]="true">
          <th cdk-header-cell *cdkHeaderCellDef class="dt-pichincha-table-header"> No </th>
          <td cdk-cell *cdkCellDef="let element" > {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef class="dt-pichincha-table-header"> name </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container cdkColumnDef="lastName">
          <th cdk-header-cell *cdkHeaderCellDef class="dt-pichincha-table-header" > lastName </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container cdkColumnDef="age">
          <th cdk-header-cell *cdkHeaderCellDef class="dt-pichincha-table-header"> age </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container cdkColumnDef="email">
          <th cdk-header-cell *cdkHeaderCellDef class="dt-pichincha-table-header"> email </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container cdkColumnDef="birthdate">
          <th cdk-header-cell *cdkHeaderCellDef class="dt-pichincha-table-header"> birthdate </th>
          <td cdk-cell *cdkCellDef="let element"> {{element.birthdate | date: 'YYYY-MM'}} </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"
            class="dt-pichincha-table-row"></tr>
      </table>

    </div>
  </div>
</div>
