/*table {
  width: 100%;
}

th {
  text-align: left;
}*/

.dt-pichincha-table {
  border-collapse: collapse;

  &-header {
    border-bottom: 1px solid rgb(222, 227, 237);
    vertical-align: middle;
    text-align: start;
    //padding: 18px 16px;
    padding: 1.3rem .75rem;
    background-color: #fff;

    font-family: 'prelo-medium', serif;
    color: #2c2c30;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    &.center {
      text-align: center;
    }
  }

  &-row {
    border-bottom: 1px solid rgb(222, 227, 237);

    &:last-child {
      //border-bottom: 0;
    }

    td {
      padding: 1.3rem .75rem;
      font-family: 'prelo-medium', serif;

      /* Celda se ajusta al contenido */
      &:not(td[data-actions]) {
        white-space: nowrap;
        width: 1%;
      }

      &[data-actions] {
        /* Code Styles column Actions */
      }

    }

    &:nth-child(even) {
      background-color: var(--darkGrayishBlue50);
    }

    &:hover {
      background-color: var(--darkGrayishBlue50);
    }
  }

}

//thead > tr {
//  border-bottom: 1px solid rgb(222, 227, 237);
//}

tbody > tr {
  border-bottom: 1px solid rgb(222, 227, 237);

  &:last-child {
    //border-bottom: 0;
  }

  td {
    padding: 1.3rem .75rem;
    font-family: 'prelo-medium', serif;

    /* Celda se ajusta al contenido */
    &:not(td[data-actions]) {
      white-space: nowrap;
      width: 1%;
    }

    &[data-actions] {
      /* Code Styles column Actions */
    }

  }

  &:nth-child(even) {
    background-color: var(--darkGrayishBlue50);
  }

  &:hover {
    background-color: var(--darkGrayishBlue50);
  }
}



.dt-responsive {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 8px;
    background: #E9ECF3;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #B7B7B9;
  }

}


.table-footer {
  padding-top: 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &-results {
    color: #2c2c30;
    font-family: 'prelo-medium', serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}


.body-text {
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'prelo-medium', serif;
}

.example-container {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}
