<a href="/drag-and-drop/">anterior</a> &nbsp;
<a href="/drag-and-drop/exercise">siguiente</a>
<br/>
<h1>Ejemplo de Lista Horizontal</h1>
<br> <h2>Clasifique los animales según su tipo</h2>
<div cdkDropListGroup style="padding-left: 20px">
    <div class="example-container">
        <h2>Animales Vertebrados</h2>

        <div
                cdkDropList
                [cdkDropListData]="todo"
                class="example-list"
                style="padding-left: 20px"
                (cdkDropListDropped)="drop($event)">
            <div class="example-box image" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
    </div>

    <div class="example-container">
        <h2>Animales Invertibrados</h2>

        <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
        style="padding-left: 20px"
        >
            <div class="example-box image" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>
