<div class="full-page center-content">
  <div class="container-dialog-options">
    <pichincha-button (click)="openModal()"
                      size="large"
                      id="btnModal"
                      color="primary">
      Abrir Modal
    </pichincha-button>


    <pichincha-button (click)="openModalDesign()"
                      size="large"
                      id="btnModalDs"
                      color="secondary">
      Abrir Modal DesignSystem
    </pichincha-button>

  </div>
</div>

