<div class="container pt-4">

  <h2>Listado de Paises </h2>

  <cdk-accordion class="example-accordion mt-5">
    <cdk-accordion-item
      *ngFor="let item of country$ | async; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      (opened)="openItem(item.iso2Code)"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header"
           (click)="accordionItem.toggle()">
        {{ item.name }}
        <span class="example-accordion-item-description">
        Click to {{ accordionItem.expanded ? 'close' : 'open' }}
      </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">

        <ng-container *ngIf="accordionItem.expanded">

          <div class="row">

            <section class="col g-4 details">
              <p>
                <strong>Code: </strong>
                {{item.iso2Code}}
              </p>
              <p>
                <strong>Ciudad Capital: </strong>
                {{item.capitalCity}}
              </p>
              <p>
                <strong>Latitude: </strong>
                {{item.latitude}}
              </p>
              <p>
                <strong>Longitude: </strong>
                {{item.longitude}}
              </p>
            </section>

            <ng-container *ngIf="countryFlag$ | async as countryFlag">
              <section class="col">
                <img [src]="countryFlag"
                     alt="Flag Country">
              </section>
            </ng-container>

          </div>
        </ng-container>


      </div>
    </cdk-accordion-item>
  </cdk-accordion>


</div>
